/* CSS Resets */
* 
{
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

/* Page styling */
body {
   background: #45AEE6;
    background: linear-gradient(0deg,rgba(255, 255, 255, 1)  40%, rgba(69, 174, 230, 1)100%);
   color: rgb(235, 235, 235);
    transition: all 2s;
}

body.switch {
    background-color: rgb(235, 235, 235);
    color: #333;
}

#container {
    position: relative;
    width: 100%;
    max-width: 1366px;
    /* make sure the columns don't get too small and text stays readable */
    min-width: 900px;
    margin: 0 auto;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    gap: 2em;
}


header {
    /* height: 350px; */
    width: 100%;
    text-align: center;
    font-family: 'Fraunces';
    font-style:italic;
    font-weight: 200;
    /* background: #45AEE6;
    background: linear-gradient(0deg,rgba(255, 255, 255, 1)  0%, rgba(69, 174, 230, 1)100%); */
    /* background: #D41E27;
    background: linear-gradient(0deg, rgba(212, 30, 39, 1) 0%, rgba(0, 0, 0, 1) 100%); */
    
    margin: 0;
}

#title h1, #title h2 {
    color: #125480;
    font-weight: 400;
    font-size: 55px;
}

#banner {
    flex: 1;
    height: auto;
    overflow: hidden; 
    display: grid;
	place-items: center;
    align-items: center;
}

#banner.switch {
    /* background-color: #333;
    color: rgb(235, 235, 235); */
    transition: all 2s;
}

main {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 2em;
    padding: 10px;
}

main section {
    margin: 10px;
    padding: 10px;
    background-color: rgba(69, 174, 230, 0.2);
    border-radius: 10px;
}

h3 {
    font-family: 'noto sans';
    font-style: italic;
    font-weight: 500px;
    color: #125480;
}
a {
    text-decoration: none;
    font-family: 'noto sans';
    background-color: #125480;
    margin: 2px;
    border-radius: 10px;
    color: white;
}

nav ol, nav ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

section li {
    padding-left: 1.2em;
}

section a {
    line-height: 1.1em;
    display: inline-block;
    padding: .5em;
    text-decoration: none;
    font-family: 'noto sans';
    background-color: #125480;
    margin: 2px;
    border-radius: 10px;
    color: white;
}

section a:hover {
    background-color: orange;
}

section.switch a {
    color: #333;
}

section.switch a:hover {
    background-color: #333;
    color: rgb(235, 235, 235);
}

button {
    font-family: 'Lugrasimo';
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 12px;
    background-color:transparent;
    border: none;
}

/* button:hover {
    background-color: coral;
    cursor: pointer;
}

button.switch {
    background-color: rgba(69, 174, 230, 1);
    border-color: #333;
} */

button.switch:hover {
    background-color: rgba(69, 174, 230, 1);
    color: black
}

.sections-grid {
    flex: 1;
    min-width: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5em;
}

#img-light, #img-dark {
    transition: opacity 0.8s ease;
}

#img-dark {
    
    display: none;
}

#img-dark.visible {
    display: block;
}

body.switch {
    background: linear-gradient(0deg, rgba(212, 30, 39, 1) 0%, rgba(0, 0, 0, 1) 100%);
    color: rgb(235, 235, 235);
    transition: all 2s;
}

body.switch #title h1, 
body.switch #title h2 {
    color: rgb(212, 30, 39);
    font-family: 'Lugrasimo';
}

body.switch main section {
    background-color: rgba(255 210 106, 0.2)
}

body.switch section a {
    background-color: #ffd26a;
}

body.switch h3 {
    color: #ffd26a;
}